VITE_API_URL=
VITE_MP_CHECKOUT_MODE=

VITE_COSTO_ENVIO_ANDREANI=9500

VITE_CAROUSEL_1_URL=https://res.cloudinary.com/dd9wzjf1q/image/upload/v1777613550/el_jardin_de_luna/carousel/carousel1.png
VITE_CAROUSEL_2_URL=https://res.cloudinary.com/dd9wzjf1q/image/upload/v1777613551/el_jardin_de_luna/carousel/carousel2.png
VITE_CAROUSEL_3_URL=https://res.cloudinary.com/dd9wzjf1q/image/upload/v1777613552/el_jardin_de_luna/carousel/carousel3.png
VITE_CAROUSEL_4_URL=https://res.cloudinary.com/dd9wzjf1q/image/upload/v1777613553/el_jardin_de_luna/carousel/carousel4.png

VITE_TRANSFER_ALIAS=ELJARDINDELUNA
VITE_TRANSFER_TITULAR=SEBASTIAN FLOMENBAUN
VITE_TRANSFER_BANCO=BANCO GALICIA
VITE_TRANSFER_CUIT=20-37309602-5

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
